<img src="assets/nrs.png" id="logo-img">
<div id="container container-fluid">
  <div class="row">
    <div class="col-xs-12"></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <sebm-google-map [latitude]="mapLat"
                       [longitude]="mapLon"
                       [zoom]="10">
        <sebm-google-map-marker *ngFor="let car of cars | carFilter:carFilterString"
                                [latitude]="car.lat"
                                [longitude]="car.lon"
                                [title]="car.carNumber"
                                [openInfoWindow]="true"
                                [iconUrl]="car.iconUrl"
                                [opacity]="car.opacity">
          <sebm-google-map-info-window class="car-card">
            <strong>Car Number:</strong> {{car.carNumber}}<br>
            <strong>Speed:</strong> {{car.speed}}<br>
            <strong>Last Updated:</strong> {{car.createdAt}}
          </sebm-google-map-info-window>
        </sebm-google-map-marker>
      </sebm-google-map>
    </div>
  </div>
  &nbsp;
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-5">
      <button class="btn btn-primary" [class.active]="isPolling" (click)="(isPolling) ? stopPolling() : startPolling()">
        Auto Update: {{isPolling ? 'On' : 'Off'}}
      </button>
      <button class="btn btn-primary" [class.active]="carFilterString === 'coursecars'" (click)="onlyCourseCars()">
        Course Cars Only
      </button>
      <form>
        <div class="form-group has-feedback">
          <label for="car-filter" class="control-label">Filter</label>
          <input type="text" [(ngModel)]="carFilterString" id="car-filter" class="form-control hasclear"
                 name="carFilterString"
                 autocomplete="off">
          <span class="clearer glyphicon glyphicon-remove-circle form-control-feedback"
                *ngIf="carFilterString.length > 0" (click)="clearFilter()"></span>
        </div>
      </form>
      <div id="car-list" class="list-group">
        <a class="list-group-item"
           *ngFor="let car of cars | carFilter:carFilterString"
           [class.active]="isActive(car.carNumber)"
           (click)="clickFilter(car)">
          <strong>{{car.carNumber}}</strong>
        </a>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-5">
      <h3>Legend</h3>
      <ul class="list-group">
        <li class="list-group-item"><img src="http://maps.google.com/mapfiles/marker.png"> Zero Car</li>
        <li class="list-group-item"><img src="http://maps.google.com/mapfiles/marker_orange.png"> Sweep Cars</li>
        <li class="list-group-item"><img src="http://maps.google.com/mapfiles/marker_white.png"> Stewards</li>
        <li class="list-group-item"><img src="http://maps.google.com/mapfiles/marker_black.png"> Radios</li>
        <li class="list-group-item"><img src="http://maps.google.com/mapfiles/marker_purple.png"> Competitors</li>
        <li class="list-group-item"><img src="http://maps.google.com/mapfiles/marker_green.png"> Other</li>
      </ul>
    </div>
  </div>
</div>
